@use '../../styles/partials/global' as *;

.list-item {
    padding: to-rem(10) 0;
    border-bottom: to-rem(1) solid $light-grey;
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
  
    &__label {
      font-size: to-rem(16);
      font-weight: 600;
    }
  
    &__delete-button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-left: to-rem(10);
      display: flex;
      align-items: center;
      transition: color 0.3s ease;
  
      svg {
        width: to-rem(20);
        height: to-rem(20);
        fill: $dark-blue; 
      }
  
      &:hover svg {
        fill: darken($dark-blue, 10%);
      }
  
      &:focus {
        outline: none;
      }
    }
  
    &__dropdown {
      margin-top: to-rem(10);
      background-color: $white;
      border: to-rem(1) solid $light-grey;
      border-radius: to-rem(5);
      max-height: to-rem(150); 
      overflow-y: auto; 
      box-shadow: 0 to-rem(4) to-rem(8) rgba(0, 0, 0, 0.1);
  
      &__options {
        list-style-type: none !important; 
        padding: 0;
        margin: 0;
      }
  
      &__option {
        list-style-type: none !important;
        padding: to-rem(10);
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: $light-grey;
        }
      }
    }
  
   
    &__dropdown::-webkit-scrollbar {
      width: to-rem(8);
    }
  
    &__dropdown::-webkit-scrollbar-thumb {
      background-color: $dark-blue;
      border-radius: to-rem(5);
    }
  }
  